@using Analise.Enuns
@model TicketModel
@{
    ViewData["Title"] = "Criar Ticket";
}
<div class="text-center">  
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
   
</div>


<style>
    .form-container {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: rgba(248, 249, 250, 0.75);
        box-sizing: border-box;
    }

    .form-container1 {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0px;
        background-color: rgba(248, 249, 250, 0.9);
        box-sizing: border-box;
    }
    .form-group-spacing {
        margin-bottom: 2rem;
    }

    .section-header {
        background-color: #3C4043;
        color: white;
        padding: 10px 15px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-weight: bold;
        display: block;
    }
</style>

<div class="form-container">
    <div class="text-center mb-4">
        <h1 class="fs-3 d-inline-block">Criar Ticket</h1>
    </div>
    <form asp-controller="Ticket" asp-action="Criar" method="post" enctype="multipart/form-data" class="form-horizontal">

        <br />
        <div class="form-container1">
            <div class="row form-group-spacing">
                <label class="col-sm-4 col-form-label text-sm-end">Assunto</label>
                <div class="col-sm-6">
                    <input asp-for="Assunto" class="form-control" />
                    @Html.ValidationMessageFor(x => x.Assunto)
                </div>
            </div>
            <div class="form-container1">
                <div class="row form-group-spacing">
                    <label class="col-sm-12 col-form-label text-sm-end">Descrição do problema</label>
                    <div class="col-sm-12">
                        <textarea asp-for="Problema" class="form-control" rows="8"></textarea>
                    </div>
                </div>
            </div>            
        </div>

        <!-- Botões -->
        <div class="d-flex justify-content-between mt-5">
            <a class="btn btn-outline-dark" asp-action="Index">Cancelar</a>
            <button type="submit" class="btn btn-dark">Submeter</button>
        </div>
    </form>
</div>
