@{
    Layout = "_Layout_Deslogado";
    ViewData["Title"] = "Página restrita";
}
<p>Sem autorização para esta funcionalidade, <a asp-controller="Home" asp-action="Index"> Clique aqui para voltar à página principal</a></p>